.NavBar > nav {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  place-items: center;
}

.NavBar {
  padding: 30px;
  background-color: white;
  border-top: 3px solid rgb(169, 189, 70);
}

.NavBar a {
  color: rgb(169, 189, 70);
}

.logo {
  text-decoration: none;
  font-weight: bold;
}

nav > li {
  list-style-type: none;
}

#matcha {
  color: rgb(169, 189, 70);
  font-size: 30px;
  text-align: center;
  margin-bottom: 35px;
}